/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,200&family=Tiro+Kannada:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,200&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,400&family=Tiro+Kannada:ital@1&display=swap');

:root {
    --cor-01: white;
    --cor-02: #374fa2;
    /* #2263ba ;    /*#096BE3;*/
    --cor-03: #1A2138;
    /*#101011e4;*/
    --cor-text-footer: white;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: 'Poppins', 'Times New Roman', sans-serif;
    text-rendering: optimizeLegibility;
    -webekit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    width: 120px;
    height: 120px;
    margin-top: 30px;

}

/*----------------------------------------------CSS HEADER-----------------*/
header {
    background-color: var(--cor-01);

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 50px;
    margin: 20px auto auto;
}

header .menu-nav ul {
    display: flex;

}

header .menu-nav ul li>ul {
    display: none;
}

header .menu-nav ul li a {
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 24px;
    transition: all 250ms linear 0s;
    color: #2354DB;
}

header .menu-nav ul li a:hover {
    color: rgba(0, 0, 255, 0.578);
}

#checkbox-menu {
    opacity: 0;
}

/*
/
/
------------------------------------------------CSS MAIN-------------------*/
main {
    background-color: var(--cor-02);
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

main .container-main {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    max-width: 980px;

}
#presentation{
    margin-top: 50px;
    background-image: url(/img/Hexagon-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
#presentation .carousel h5{
    position: absolute;
    margin-top: 200px;
    margin-left: 750px;
    font-size: 2em;
    font-family: 'Poppins' Verdana, Geneva, Tahoma, serif;
    color: blue;
    text-transform: uppercase;
}
#presentation .carousel p{
    position: absolute;
    margin-top: 250px;
    margin-left: 680px;
    font-size: 1em;
    font-family: 'Poppins' Verdana, Geneva, Tahoma, serif;
    color: rgba(39, 2, 2, 0.515);
    text-transform: uppercase;
    word-break: break-all;
}
#presentation .carousel :nth-child(3){
   width: 300px;
   margin-top: 50px;
   margin-left: 100px;
}
#presentation::after{
    content: "";
    position:absolute;
    top:120px;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 100;
}
.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-bottom: 50px;
}

.cards .card {
    cursor: pointer;
    box-shadow: 5px 5px 10px -5px rgb(7, 6, 6);
    transition: all 0.3s ease 0s;
    border: 2px solid #fff;
    border-radius: 10px;
    
}

.cards .card:hover {
    transform: scale(1.1);
}

.card .card-body {  
    color: rgb(59, 58, 57);
    background-color: #F7C94F;/* rgba(238, 238, 97, 0.842);*/
    /* background-color: rgb(47, 46, 46); */
    border-radius: 0px 0px 10px 10px;
     padding: 20px; 
    margin-bottom: -1px;
    border-top: 2px solid rgb(84, 83, 83);
}
.card .card-text {
     text-align: justify;
     word-break: break-all;   
     font-size: 12px; 
    color: #6b6c6ed3;
}
.card .card-body a {
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 15px;
    font: italic;
     color: #6b6c6ed3;;
}
.card .card-body a:hover {  
     color: white;
     font-weight: bold;
}
.card .title-card {
    color: white;/* rgb(49, 49, 224);*/
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Poppins', 'Times New Roman', serif;
}
.card .img-top-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 12.25%;
}
.img-top-card img {
    width: 150px;
}
.container-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.container-contact form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 100px;
    width: auto;
}
.container-contact .img-contact img {
    width: 550px;
    margin-bottom: 100px;
    border-radius: 15px;
}
.container-contact :nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.container-contact form input {
    width: 350px;
    height: 45px;
    padding-left: 15px;
    border: 1px solid var(--cor-02);
    border-radius: 20px;
    margin-bottom: 20px;
}
form input:focus { 
    outline: none !important; 
    border-color: #719ECE;
    box-shadow: 0 0 2px #000;
}

form [type="submit"] {
    background-color: var(--cor-02);
    /* #2354DB;*/
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.contact h3,
p {
    margin-left: 40px;
    text-align: justify;
}

.contact p {
    color: #7b7b7e;
    font-size: 1em;
    word-break: break-all;
}

.contact h3 {
    color: #414143;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 2em;
    line-height: 65px;

}

/*
/
/-----------------------------------------------CSS FOOTER-----------------*/
footer {
    background-color: var(--cor-03);
    color: var(--cor-text-footer);
    height: 30%;
    
}
footer .container-footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 20px;

}
.container-social{
   display: flex;
   flex-direction: column;
  justify-content: space-around;
  padding-bottom: 5px;
}
.container-social img{
    width: 100px;
}
.container-social ul li {
   display:inline;
   padding: 10px;
   border: 1px solid white;
   border-radius: 5px;
}
.container-social ul li i{
    font-size: 1em;
 }
 .container-address p{
     font-size: 14px;
 }
 footer address img{
     width: 100px;
 }
footer a {
    color: var(--cor-text-footer);
}